{{ ansible_managed | comment }}

# Security
ServerTokens {{ apache_server_tokens }}
ServerSignature {{ apache_server_signature }}
TraceEnable {{ apache_trace_enable }}

ServerName {{ apache_server_name }}
ServerRoot {{ apache_server_root }}
PidFile {{ apache_pidfile }}
Timeout {{ apache_timeout }}
KeepAlive {{ apache_keepalive }}
MaxKeepAliveRequests {{ apache_max_keepalive_requests }}
KeepAliveTimeout {{ apache_keepalive_timeout }}
LimitRequestFieldSize {{ apache_limitreqfieldsize }}

User {{ apache_user }}
Group {{ apache_group }}

AccessFileName .htaccess
<FilesMatch "^\.ht">
{% if apache_version == '2.4' -%}
  Require all denied
{% else -%}
  Order allow,deny
  Deny from all
  Satisfy all
{% endif -%}
</FilesMatch>

<Directory />
  Options {{ apache_root_directory_options }}
  AllowOverride None
  {% if root_directory_secured -%}
    {% if apache_version == '2.4' -%}
  Require all denied
    {% else -%}
  Order deny,allow
  Deny from all
    {% endif -%}
  {% endif -%}
</Directory>

{% if apache_version == '2.2' -%}
DefaultType {{ apache_default_type }}·
{% endif %}
HostnameLookups Off
{% if apache_error_log | match("^[|\/]") or apache_error_log | match ("^syslog:")  -%}
ErrorLog "{{ apache_error_log }}"
{% else -%}
ErrorLog "{{ apache_logroot }}/{{ apache_error_log }}"
{% endif -%}
LogLevel {{ apache_log_level }}
EnableSendfile {{ apache_sendfile }}

Include "{{ apache_mod_dir }}/*.load"
Include "{{ apache_mod_dir }}/*.conf"
Include "{{ apache_ports_file }}"
{% if apache_version == '2.2' -%}
IncludeOptional "{{ apache_vhost_dir }}/*.conf"
{% else %}
Include "{{ apache_vhost_dir }}/*.conf"
{% endif %}
{% if apache_vhost_dir != apache_confd_dir -%}
  {% if apache_version == '2.2' -%}
IncludeOptional "{{ apache_vhost_dir }}/*.conf"
  {% else %}
Include "{{ apache_vhost_dir }}/*.conf"
  {% endif %}
{% endif %}

#LoadModule ldap_module modules/mod_ldap.so
#LoadModule authnz_ldap_module modules/mod_authnz_ldap.so
LoadModule dav_fs_module modules/mod_dav_fs.so
LoadModule dir_module modules/mod_dir.so
LoadModule userdir_module modules/mod_userdir.so
LoadModule alias_module modules/mod_alias.so
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule proxy_connect_module modules/mod_proxy_connect.so
LoadModule disk_cache_module modules/mod_disk_cache.so

DocumentRoot "/var/www/html"

<IfModule mod_userdir.c>
    UserDir disabled
</IfModule>

DirectoryIndex index.html index.html.var


CustomLog logs/access_log combined

<IfModule mod_dav_fs.c>
    # Location of the WebDAV lock database.
    DAVLockDB /var/lib/dav/lockdb
</IfModule>

ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"

<Directory "/var/www/cgi-bin">
    AllowOverride None
    Options None
    Order allow,deny
    Allow from all
</Directory>

LanguagePriority en ca cs da de el eo es et fr he hr it ja ko ltz nl nn no pl pt pt-BR ru sv zh-CN zh-TW

ForceLanguagePriority Prefer Fallback
