  ## RedirectMatch rules
{% for redirect_statement in item['redirects'] %}
  {% if redirect_statement['redirect'] is defined and redirect_statement['redirect'] != '' %}
  Redirect {{ redirect_statement['status'] | default('') }} "{{ redirect_statement['redirect'] }}" "{{ redirect_statement['destination'] }}"
  {% elif redirect_statement['redirectmatch'] is defined and redirect_statement['redirectmatch'] != '' %}
  RedirectMatch {{ redirect_statement['status'] | default('') }} "{{ redirect_statement['redirectmatch'] }}" "{{ redirect_statement['destination'] }}"
  {% endif %}
{% endfor %}
