{{ ansible_managed | comment }}
<IfModule mod_ssl.c>
  SSLRandomSeed startup builtin
  SSLRandomSeed startup file:/dev/urandom {{ apache_ssl_random_seed_bytes }}
  SSLRandomSeed connect builtin
  SSLRandomSeed connect file:/dev/urandom {{ apache_ssl_random_seed_bytes }}

  AddType application/x-x509-ca-cert .crt
  AddType application/x-pkcs7-crl    .crl

  SSLPassPhraseDialog {{ apache_ssl_pass_phrase_dialog }}
  SSLSessionCache "shmcb:{{ apache_session_cache }}"
  SSLSessionCacheTimeout {{ apache_ssl_sessioncachetimeout }}
  {% if apache_version == '2.4' -%}
  Mutex {{ apache_ssl_mutex }}
  {% else  -%}
  SSLMutex {{ apache_ssl_mutex }}
  {% endif -%}
  SSLCryptoDevice {{ apache_ssl_cryptodevice }}
  SSLHonorCipherOrder On
  SSLCipherSuite {{ apache_ssl_cipher }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLOptions {{ apache_ssl_options }}
</IfModule>
