{{ ansible_managed | comment }}

<Location /server-status>
    SetHandler server-status
    {% if apache_version == '2.4' -%}
    Require ip {{ apache_mod_status_allow_from | join(" ") }}
    {% else -%}
    Order deny,allow
    Deny from all
    Allow from {{ apache_mod_status_allow_from | join(" ") }}
    {% endif -%}
</Location>

<IfModule mod_proxy.c>
    # Show Proxy LoadBalancer status in mod_status
    ProxyStatus On
</IfModule>
